
<div class="jumbotron">
	<div class="rock">
		<a href="/outcome?choice=rock"><img src= "/images/rock.jpg"></a>
	</div>
	<div class="paper">
		<a href="/outcome?choice=paper"><img src= "/images/paper.jpg"></a>
	</div>
	<div class="scissors">
		<a href="/outcome?choice=scissors"><img src= "/images/scissors.jpg"></a>
	</div>
</div>