<div class="circle">

	<div class="header">
		ROCK<br>PAPER<br>SCISSORS
		<div class="name-form">
				<form action="/name" method="post">
					<input type="text" name="name" placeholder="Enter Your Name">
					<input type="submit" value="submit">
				</form>
		</div>
	</div>

</div>
