<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/choice.css"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/outcome.css"/>
		<title>Rock Paper Scissors</title>
	</head>

	<body>
		<%= yield %>
	</body>

</html>
