<!DOCTYPE html>
<html>

	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/choice.css"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
		<link type="text/css" rel="stylesheet" href="/stylesheets/outcome.css"/>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/choices.js"></script>

		<title>Rock Paper Scissors</title>
	</head>

	<body>
		<%= yield %>
	</body>

</html>
