.outcome .player-choice {
	display: none;
}

.outcome .computer-choice {
	display: none;
}

.outcome .win-lose {
	display: none;
}

.outcome #option.play-again {
	display: none;
}

.outcome .vs {
	text-align: center;
	margin-top: 20%;
}

.score {
  margin: 0;
  text-align: center;
  margin-top: 100px;
}

.score h2 {
  font-size: 50px;
  display: inline-block;
}

.score #score {
  font-size: 80px;
  display: inline-block;
}

.score .player-score {
  display: inline-block;
  color: #e41a6a;
}

.score .comp-score {
  display: inline-block;
  color: #f1831d;
}

.score #name {
  color: #393939
}
