.outcome .player-choice {
	display: none;
}

.outcome .computer-choice {
	display: none;
}

.outcome .win-lose {
	display: none;
}

.outcome #option.play-again {
	display: none;
}

.outcome .vs {
	text-align: center;
	margin-top: 20%;
}
